<!DOCTYPE html>
<html>
<head>
  <title>Weekly Average Availability Chart</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <canvas id="weekly-chart-bikes" width="800" height="400"></canvas>
  <canvas id="weekly-chart-bike_stands" width="800" height="400"></canvas>
  <script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    async function getData() {
      const url = '/availability/daily/9';
      const response = await fetch(url);
      const { data } = await response.json();
      return JSON.parse(data);
    }

    function calculateWeeklyAverage_bikes(data) {
      const weeklyData = [[0, 0, 0, 0, 0, 0, 0]];
      const daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
      let currentWeek = weeklyData[0];
      let count = 0;
      let dayIndex = 0;

      for (let i = 0; i < data.length; i++) {
        const [dateString, availability] = data[i];
        const date = new Date(dateString);
        const dayOfWeek = daysOfWeek[date.getDay()];
        
        if (dayOfWeek === 'Sun' && count > 0) {
          currentWeek[dayIndex] /= count;
          currentWeek = [0, 0, 0, 0, 0, 0, 0];
          weeklyData.push(currentWeek);
          count = 0;
          dayIndex = 0;
        }
        
        currentWeek[dayIndex] += availability[0];
        count++;
        dayIndex++;
        dayIndex %= 7;
      }

      if (count > 0) {
        currentWeek[dayIndex] /= count;
      }

      return weeklyData.slice(1);
    }

    function calculateWeeklyAverage_bike_stands(data) {
      const weeklyData = [[0, 0, 0, 0, 0, 0, 0]];
      const daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
      let currentWeek = weeklyData[0];
      let count = 0;
      let dayIndex = 0;

      for (let i = 0; i < data.length; i++) {
        const [dateString, availability] = data[i];
        const date = new Date(dateString);
        const dayOfWeek = daysOfWeek[date.getDay()];
        
        if (dayOfWeek === 'Sun' && count > 0) {
          currentWeek[dayIndex] /= count;
          currentWeek = [0, 0, 0, 0, 0, 0, 0];
          weeklyData.push(currentWeek);
          count = 0;
          dayIndex = 0;
        }
        
        currentWeek[dayIndex] += availability[1];
        count++;
        dayIndex++;
        dayIndex %= 7;
      }
      if (count > 0) {
        currentWeek[dayIndex] /= count;
      }

      return weeklyData.slice(1);
    }

    async function drawChart() {
      const data = await getData();
      const weeklyData_bikes = calculateWeeklyAverage_bikes(data);
      const weeklyData_bike_stands = calculateWeeklyAverage_bike_stands(data);
      

      const ctx = document.getElementById('weekly-chart-bikes');
      const chart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
          datasets: [{
            label: 'Average Daily Available Bikes',
            backgroundColor: 'rgba(255, 26, 104, 0.2)',
            borderColor: 'rgba(255, 26, 104, 1)',
            borderWidth: 1,
            data: weeklyData_bikes.flat(),
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
              }
            }]
          }
        }
      });

      const ctx2 = document.getElementById('weekly-chart-bike_stands');
      const chart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
          labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
          datasets: [{
            label: 'Average Daily Available Bike Stands',
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            data: weeklyData_bike_stands.flat(),
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
              }
            }]
          }
        }
      });
    }
  </script>
</body>
</html>