<!DOCTYPE html>
<html>

<head>
    <title>Map</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places,geometry"></script>
    <script src="../static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        // Google Map API function
        function initMap() {

            // Set up the map options. Used in javascript to control position of the mapTypeControl       
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: { lat: {{ lat }}, lng: {{ lng }}},
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.TOP_CENTER
                }
            });

            var markers = {{ markers| tojson }};
            console.log(markers);  // Print the markers array in the console

            for (var i = 0; i < markers.length; i++) {
                var marker = markers[i];
                var newMarker = new google.maps.Marker({
                    position: marker.position,
                    title: marker.title,
                    map: map
                });
                // Add the event listeners to each marker
                attachInfoWindow(newMarker, map, marker);
            }

            var availability_data = {{ availability| tojson }};

            function attachInfoWindow(marker, map, markerData) {
                var infoWindow = new google.maps.InfoWindow({
                    content: '<div><strong>' + markerData.title + '</strong>' +
                        '<div><i class="wi wi-wmo4680-' + markerData.weathercode + '"></i></div>' +
                        '<div>Status: ' + markerData.status + '</div>' +
                        '<div>Available stands: ' + markerData.bike_stands + '</div>' +
                        '<div>Available bikes: ' + markerData.available_bikes + '</div></div>'+
                        '<div>Banking: ' + (markerData.banking ? 'Yes' : 'No') + '</div></div>'

                });

                marker.addListener('mouseover', function () {
                    infoWindow.open(map, this);
                });

                marker.addListener('mouseout', function () {
                    infoWindow.close();
                });

                marker.addListener('click', function () {
                    document.getElementById('side-bar-right').style.width= '350px';
                    document.getElementById('side-bar-right').style.display = 'flex';
                    document.getElementById('close-icon-right').style.display = 'block';
                    

                    // Showing weather information
                    var weather_api = "https://api.open-meteo.com/v1/forecast?latitude="+
                        markerData.position.lat+
                        "&longitude="+markerData.position.lng+
                        "&hourly=temperature_2m,precipitation_probability,weathercode,windspeed_10m&current_weather=true"

                    // Getting weather info
                    var weatherCode;
                    var xmlhttp = new XMLHttpRequest();

                    xmlhttp.onreadystatechange = function() {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {        
                            //Parse the JSON data to a JavaScript variable. 
                            parsedObj = JSON.parse(xmlhttp.responseText);  
                            weatherCode = parsedObj.current_weather.weathercode;                            
                            
                            //print weatherCode to html
                            // console.log(weatherCode);
                            document.getElementById("weather-icon").innerHTML=weatherCode
                        }
                    };
                    xmlhttp.open("GET", weather_api, true);
                    xmlhttp.send();
                    // Showing station average chart
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
    
                    async function getData() {
                        const url = '/availability/daily/'+markerData.number;
                        const response = await fetch(url);
                        const { data } = await response.json();
                        return JSON.parse(data);
                    }

                    function calculateWeeklyAverage_bikes(data) {
                        const weeklyData = [[0, 0, 0, 0, 0, 0, 0]];
                        const daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
                        let currentWeek = weeklyData[0];
                        let count = 0;
                        let dayIndex = 0;

                        for (let i = 0; i < data.length; i++) {
                            const [dateString, availability] = data[i];
                            const date = new Date(dateString);
                            const dayOfWeek = daysOfWeek[date.getDay()];
        
                            if (dayOfWeek === 'Sun' && count > 0) {
                                currentWeek[dayIndex] /= count;
                                currentWeek = [0, 0, 0, 0, 0, 0, 0];
                                weeklyData.push(currentWeek);
                                count = 0;
                                dayIndex = 0;
                            }
        
                            currentWeek[dayIndex] += availability[0];
                            count++;
                            dayIndex++;
                            dayIndex %= 7;
                        }

                        if (count > 0) {
                            currentWeek[dayIndex] /= count;
                        }

                        return weeklyData.slice(1);
                    }

                    function calculateWeeklyAverage_bike_stands(data) {
                        const weeklyData = [[0, 0, 0, 0, 0, 0, 0]];
                        const daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
                        let currentWeek = weeklyData[0];
                        let count = 0;
                        let dayIndex = 0;

                        for (let i = 0; i < data.length; i++) {
                            const [dateString, availability] = data[i];
                            const date = new Date(dateString);
                            const dayOfWeek = daysOfWeek[date.getDay()];
        
                            if (dayOfWeek === 'Sun' && count > 0) {
                                currentWeek[dayIndex] /= count;
                                currentWeek = [0, 0, 0, 0, 0, 0, 0];
                                weeklyData.push(currentWeek);
                                count = 0;
                                dayIndex = 0;
                            }
        
                        currentWeek[dayIndex] += availability[1];
                        count++;
                        dayIndex++;
                        dayIndex %= 7;
                        }

                        if (count > 0) {
                            currentWeek[dayIndex] /= count;
                        }

                        return weeklyData.slice(1);
                    }

                    async function drawChart() {
                        const data = await getData();
                        const weeklyData_bikes = calculateWeeklyAverage_bikes(data);
                        const weeklyData_bike_stands = calculateWeeklyAverage_bike_stands(data);
      
                        const ctx = document.getElementById('weekly-chart-bikes');
                        const chart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                                datasets: [{
                                    label: 'Average Daily Available Bikes',
                                    backgroundColor: 'rgba(255, 26, 104, 0.2)',
                                    borderColor: 'rgba(255, 26, 104, 1)',
                                    borderWidth: 1,
                                    data: weeklyData_bikes.flat(),
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                        beginAtZero: true,
                                        }
                                    }]
                                }
                            }
                        });

                        const ctx2 = document.getElementById('weekly-chart-bike_stands');
                        const chart2 = new Chart(ctx2, {
                            type: 'bar',
                            data: {
                                labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                                datasets: [{
                                    label: 'Average Daily Available Bike Stands',
                                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1,
                                    data: weeklyData_bike_stands.flat(),
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                        beginAtZero: true,
                                        }
                                    }]
                                }
                            }
                        });
                    };
                });
            }

            const input = document.getElementById("pac-input");            

            const autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.bindTo("bounds", map);

            autocomplete.addListener("place_changed", () => {
                const place = autocomplete.getPlace();
                if (!place.geometry || !place.geometry.location) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
            
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
            
                // Show nearest stations
                showNearestStations(place.geometry.location, availability_data);
                document.getElementById('side-bar').style.display = 'block';
            });

            var canvas = document.getElementById("temperature-chart");

            function printDebug(){console.log("Passed");}

            function findNearestStations(position) {
                let distances = markers.map((marker, index) => {
                    return {
                        index: index,
                        distance: google.maps.geometry.spherical.computeDistanceBetween(
                            position,
                            new google.maps.LatLng(marker.position.lat, marker.position.lng)
                        ),

                    };
                });
            
                distances.sort((a, b) => a.distance - b.distance);
            
                let nearestStations = distances.slice(0, 5).map((item) => markers[item.index]);
            
                return nearestStations;
            }

            function showNearestStations(location, availability_data) {
                let nearestStations = findNearestStations(location);
                console.log(nearestStations); // log nearest stations to the console
                let sidebar = document.getElementById("side-bar");
                sidebar.style.height = '70%';
                document.getElementById('close-icon').style.display = 'block';
                let nearestStationsDiv = document.getElementById("nearest-stations");
                nearestStationsDiv.innerHTML = "<h3>Nearest Stations:</h3>";
                nearestStations.forEach((station) => {
                    let stationDiv = document.createElement("div");
                    stationDiv.innerHTML = `<h4>${station.title}</h4>
                        <p><i class="material-icons" title="Status">info</i>${station.status}</p>
                        <p><i class="material-icons" title="Available Bikes">directions_bike</i>${station.available_bikes}</p>
                        <p><i class="material-icons" title="Available Stands">directions_walk</i>${station.bike_stands}</p>
                        <p><i class="material-icons" title="Banking">${station.banking ? 'check_circle' : 'cancel'}</i>${station.banking ? 'Yes' : 'No'}</p>`;
                    nearestStationsDiv.appendChild(stationDiv);
                });
            }
        };
    </script>
</head>

<body onload="initMap()">
    {# If possible, please keep the html id and CSS like this #}  
    <div id="side-bar">
        <div id="pac-container">
            <form id="pac-form">
                <input id="pac-input" type="text" placeholder="Enter a location" />
            </form>
        </div>
        <div id="nearest-stations">
            <!-- Nearest stations will be displayed here -->
        </div>
        <div id="close-side">
            <i id="close-icon" class="material-icons" onclick="closeSide()" >&#xe316;</i>
        </div>
    </div>
    <div id="side-bar-right">
        <div id="close-side-right">
            <i id="close-icon-right" class="material-icons" onclick="closeSideRight()" >&#xe315;</i>
        </div>
        <div id="side-bar-info">
            <div id="weather-current">
                <div id="weather-icon">Hello</div>
                <div id="temperature"></div>
                <div id=""></div>
            </div>
            <div id="weather-hour">
                <canvas id="temperature-chart"></canvas>
                <canvas id="precipitation-chart"></canvas>
                <canvas id="wind-chart"></canvas>
            </div>
            <div id="station-history">
                <h3 class="sidebar-label"><i class="sidebar-icon clock material-icons">access_time</i>Station History</h3>
                <canvas id="weekly-chart-bikes"></canvas>
                <canvas id="weekly-chart-bike_stands"></canvas>
            </div>
            <div id="station-prediction"></div>
        </div>
    </div>
    <div id="map"></div>
</body>
</html>