<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <style>
        #map {
            height: 500px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
    <script>
        function initMap() {
            var mapOptions = {{ map_options|tojson }};
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        
            var markers = {{ markers|tojson }};
            console.log(markers);  // Print the markers array in the console
        
            for (var i = 0; i < markers.length; i++) {
                var marker = markers[i];
                var newMarker = new google.maps.Marker({
                    position: marker.position,
                    title: marker.title,
                    map: map
                });
            }
        }
        
    </script>
</head>
<body onload="initMap()">
    <div id="map"></div>
</body>
</html>