<!DOCTYPE html>
<html>

<head>
    <title>Map</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&&callback=Function.prototype&libraries=places,geometry,visualization"></script>
    <script src="../static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        // Google Map API function
        async function initMap() {

            const { Map } = await google.maps.importLibrary("maps");
            // Set up the map options. Used in javascript to control position of the mapTypeControl       
            var map = new Map(document.getElementById('map'), {
                zoom: 15,
                center: { lat: {{ lat }}, lng: {{ lng }}},
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.TOP_CENTER
                }
            });

            var markers = {{ markers| tojson }};
            console.log(markers);  // Print the markers array in the console
            
            var mapMarkers = [];


            for (var i = 0; i < markers.length; i++) {
                var marker = markers[i];
                var newMarker = new google.maps.Marker({
                    position: marker.position,
                    title: marker.title,
                    icon: {
                        url: 'http://maps.google.com/mapfiles/ms/icons/bike.png',
                        scaledSize: new google.maps.Size(32, 32),
                    },
                    map: map
                });
                // Add the new marker to the mapMarkers array
                mapMarkers.push(newMarker);
                // Add the event listeners to each marker
                attachInfoWindow(newMarker, map, marker);
            }
            

            function attachInfoWindow(marker, map, markerData) {
                var infoWindow = new google.maps.InfoWindow({
                    content: '<div><strong>' + "No." + markerData.number + " " + markerData.title + '</strong>' +
                        '<div><i class="wi wi-wmo4680-' + markerData.weathercode + '"></i></div>' +
                        '<div>Status: ' + markerData.status + '</div>' +
                        '<div>Available stands: ' + markerData.bike_stands + '</div>' +
                        '<div>Available bikes: ' + markerData.available_bikes + '</div></div>'+
                        '<div>Banking: ' + (markerData.banking ? 'Yes' : 'No') + '</div></div>'

                });

                marker.addListener('mouseover', function () {
                    infoWindow.open(map, this);
                });

                marker.addListener('mouseout', function () {
                    infoWindow.close();
                });

                marker.addListener('click', function () {
                    document.getElementById('side-bar-right').style.width= '350px';
                    document.getElementById('side-bar-right').style.display = 'flex';
                    document.getElementById('close-icon-right').style.display = 'block';
                    
                    // Showing current weather
                    currentWeather(markerData.position.lat,markerData.position.lng);

                    // Showing station average chart
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawDaily(markerData.number));
                    google.charts.setOnLoadCallback(drawHourly(markerData.number));
                    google.charts.setOnLoadCallback(drawTemperature(markerData.position.lat,markerData.position.lng));
                    
                    //Get the result of modle: station availability prediction 
                async function getPredicData() {
                            const url_predict = '/predict_bikes/'+markerData.number;
                            const response_predict = await fetch(url_predict);
                            const data_predict  = await response_predict.json();
                            return data_predict;
                        }
                function search(searchTerm, data) {
                    return data[parseInt(searchTerm)];
                }

                document.getElementById('search-form').addEventListener('submit', async function(event) {
                            event.preventDefault();

                            const searchTerm = document.getElementById('search_term').value;
                            const data = await getPredicData();
                            const result = search(searchTerm,data);
                            let resultHTML = '';

                            if (result) {
                                resultHTML = `
                                <div>
                                    <h1><i class="material-icons" title="Available Bikes">pedal_bike</i>${result}</h1>
                                </div>
                                `;
                            } else {
                                resultHTML = '<p>No results found.</p>';
                            }

                            document.getElementById('search-results').innerHTML = resultHTML;
                            });
                
                
                
                });
            }
            
            var heatmapData = markers.map(function(marker) {
                return {
                    location: new google.maps.LatLng(marker.position.lat,marker.position.lng),
                    weight: marker.available_bikes
                };
            });
            console.log(heatmapData);
        
            var heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatmapData,
                dissipating: true,
                gradient: [
                    "rgba(0, 255, 255, 0)", 
                    "rgba(0, 255, 255, 1)", 
                    "rgba(0, 191, 255, 1)", 
                    "rgba(0, 127, 255, 1)", 
                    "rgba(0, 63, 255, 1)", 
                    "rgba(0, 0, 255, 1)",
                    "rgba(0, 0, 223, 1)",
                    "rgba(0, 0, 191, 1)",
                    "rgba(0, 0, 159, 1)",
                    "rgba(0, 0, 127, 1)",
                    "rgba(63, 0, 91, 1)",
                    "rgba(127, 0, 63, 1)",
                    "rgba(191, 0, 31, 1)",
                    "rgba(255, 0, 0, 1)",
                ],
                maxIntensity: 30, // Change this value according to the highest number of available bikes at your stations
                radius: 30, // Adjust the radius to change the appearance of the heatmap
            });
        
            heatmap.setMap(map);
            

            const input = document.getElementById("pac-input");            

            const autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.bindTo("bounds", map);

            autocomplete.addListener("place_changed", () => {
                const place = autocomplete.getPlace();
                if (!place.geometry || !place.geometry.location) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
            
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
            
                // Show nearest stations
                showNearestStations(place.geometry.location);
                document.getElementById('nearest-stations').style.padding = '1rem';
                document.getElementById('side-bar').style.display = 'block';
            });
        
            function printDebug(){console.log("Passed");}

            function findNearestStations(position) {
                let distances = markers.map((marker, index) => {
                    return {
                        index: index,
                        distance: google.maps.geometry.spherical.computeDistanceBetween(
                            position,
                            new google.maps.LatLng(marker.position.lat, marker.position.lng)
                        ),

                    };
                });
            
                distances.sort((a, b) => a.distance - b.distance);
            
                let nearestStations = distances.slice(0, 5).map((item) => markers[item.index]);
            
                return nearestStations;
            }

            function showNearestStations(location) {
                let nearestStations = findNearestStations(location);
                console.log(nearestStations); // log nearest stations to the console
                let sidebar = document.getElementById("side-bar");
                sidebar.style.height = '500px';
                document.getElementById('close-icon').style.display = 'block';
                let nearestStationsDiv = document.getElementById("nearest-stations");
                nearestStationsDiv.innerHTML = "<h3>Nearest Stations:</h3>";
                nearestStations.forEach((station) => {
                    let stationDiv = document.createElement("div");
                    stationDiv.innerHTML = `<h4>${station.title}</h4>
                        <p><i class="material-icons" title="Status">info</i>${station.status}</p>
                        <p><i class="material-icons" title="Available Bikes">directions_bike</i>${station.available_bikes}</p>
                        <p><i class="material-icons" title="Available Stands">local_parking</i>${station.bike_stands}</p>
                        <p><i class="material-icons" title="Banking">${station.banking ? 'credit_card' : 'credit_card'}</i>${station.banking ? 'Yes' : 'No'}</p>`;
                    stationDiv.style.cursor = 'pointer';
                    stationDiv.addEventListener('click', () => {
                        let marker = mapMarkers.find(m => m.title === station.title);
                    
                        // Make the existing marker bounce
                        marker.setAnimation(google.maps.Animation.BOUNCE);
                        setTimeout(() => { marker.setAnimation(null); }, 750);
                    });
                    
                    nearestStationsDiv.appendChild(stationDiv);
                });
            }
            

            
            
            google.maps.event.addListenerOnce(map, 'idle', () => {
                document.getElementById('maploading').style.display = 'none';
            });
            
        };
    </script>
</head>

<body onload="initMap()">
    {# If possible, please keep the html id and CSS like this #}  
    <div class="loading" id="maploading">
        <div class="spinner"></div>
    </div>
    <div id="side-bar">
        <div id="pac-container">
            <form id="pac-form">
                <input id="pac-input" type="text" placeholder="Enter your location" />
            </form>
        </div>
        <div id="nearest-stations">
            <!-- Nearest stations will be displayed here -->
        </div>
        <div id="close-side">
            <i id="close-icon" class="material-icons" onclick="closeSide()" >&#xe316;</i>
        </div>
    </div>
    <div id="side-bar-right">
        <div id="close-side-right">
            <i id="close-icon-right" class="material-icons" onclick="closeSideRight()" >&#xe315;</i>
        </div>
        <div id="side-bar-info">
            <div id="weather-current">
                <div id="weather-icon">Hello</div>
                <div id="weather-text">
                    <p>Temperature: 0&#8451;</p>
                    <p>Windspeed: 100km/h</p>
                </div>
                <div id=""></div>
            </div>
            <div id="weather-hour">
                <div class="tab">
                    <button class="tablinks active" onclick="openWeather(event, 'temperature-chart')">Temperature(&#8451;)</button>
                    <button class="tablinks" onclick="openWeather(event, 'precipitation-chart')">Precipitation(%)</button>
                    <button class="tablinks" onclick="openWeather(event, 'wind-chart')">Windspeed(km/h)</button>
                </div>
                <div id="temperature-chart" class="tabcontent"></div>
                <div id="precipitation-chart" class="tabcontent"></div>
                <div id="wind-chart" class="tabcontent"></div>
                
            </div>
            <div id="station-history">
                <div class="tabchart">
                    <button class="charttablinks active" onclick="openChart(event, 'daily-average')">By day of week</button>
                    <button class="charttablinks" onclick="openChart(event, 'hourly-average')">By hour - same day of week </button>
                </div>
                <div class="average-chart active" id="daily-average"></div>
                <div class="average-chart" id="hourly-average"></div>
            </div>
            <div id="station-prediction">
                <h3 class="sidebar-label"><i class="sidebar-icon clock material-icons">my_location</i>Station Prediction</h3>
                <form id="search-form">
                    <label for="search_term">Select a time:</label>
                    <select id="search_term" name="time" placeholder="Enter a location">
                        {% for i in range(24) %}
                        <option value="{{ i }}">{{ "%02d:00" % i }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Available Bikes"></form>
                <div id="search-results"></div>
            </div>
        </div>
    </div>
    <div id="map"></div>
</body>
</html>